<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744389728920-n76t50llriruumlav7d0htitess2j3rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744389728920-n76t50llriruumlav7d0htitess2j3rt</string>
	<key>API_KEY</key>
	<string>AIzaSyBd0Yh9DabBjA9w5kHiRZ78qX3hNQIWmmw</string>
	<key>GCM_SENDER_ID</key>
	<string>744389728920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MeanStarJohnnyLion.SnacktacularUI</string>
	<key>PROJECT_ID</key>
	<string>snacktacularui-814fb</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacularui-814fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744389728920:ios:1b35848444fcb49b2a8eed</string>
</dict>
</plist>